body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333; /* Default text color */
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #222; /* Dark mode background color */
    color: #fff; /* Dark mode text color */
}

header {
    background-color: #007bff; /* Light mode header color */
    color: #fff;
    padding: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

section {
    max-width: 800px;
    margin: 6em auto 2em; /* Adjusted margin to accommodate fixed header */
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

section.dark-mode {
    background-color: #333; /* Dark mode section background color */
}

h1, h2, h3 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}

.portfolio-item {
    margin-bottom: 2em;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #007bff; /* Light mode footer color */
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
}